header {
  background: grey;
  height: 150px;
}

body {
  font-family: 'Bookman Old Style', Bookman, 'URW Bookman L', serif;
  margin: 0;
  background: 
}

h1, h2, h3 {
  color: black;
  text-align: center;
  font-size: 22px;
}

p {
  color: black;
  font-family: 'Hubballi', cursive;
  font-size: 18px;
  text-align: center;
}

footer {
  color: black;
  text-align: center;
}

main {
  
}

.logo {
  text-align: center;
  font-family: 'Marck Script', cursive;
}
  
article {
  padding:0 25%;
  margin:80px 0;
  
  
  
  
  
  
  
