/* Structure */


header {
  background: silver;
  height: 150px;
  font-size: 100px;
}

body {
  font-family: 'Bookman Old Style', Bookman, 'URW Bookman L', serif;
  margin: 0;
  background: grey;
}

footer {
  color: black;
  text-align: center;
  background: silver;
}

article {
  padding:0 25%;
  margin:80px 0;
}

/* Text */

h1, h2, h3 {
  color: black;
  text-align: center;
  font-size: 40px;
  font-family: 'Hubballi', cursive;
}

p, li {
  color: black;
  font-size: 23px;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 0;
}

/* Elements */

.logo {
  text-align: center;
  font-family: 'Marck Script', cursive;
}

img {
  width: 100%;
  border-radius; 5px;
}

/* Pseudo classes */

/* Unvisited link */
a:link { color: Blue; }

/* Visited link */
a:visited { color: Green; }

/* Mouse over link */
a:hover { color: Red; }

/* Selected link */
a:active { color: Red; }
  
  
  
  
